<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['main-page']">InventorSoft Academy</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['offers-list']">All offers</a></li>
      <li><a [routerLink]="['new-offer']">New offer</a></li>
      <li><a [routerLink]="['ticket-list']">All tickets</a></li>
      <li><a [routerLink]="['new-ticket']">New ticket</a></li>
      <li><a [routerLink]="['balance-of-bought-tickets']">Balance of bought ticket</a></li>
    </ul>
  </div>
</nav>
