<h1>All songs</h1>
<table class="table table-responsive">
  <thead>
  <tr>
    <th>Id</th>
    <th>Route</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
    <th>Number Of Seats</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let offer of offersList" (click)="showOfferDetails(offer.id)">
    <td>{{offer.id}}</td>
    <td>{{offer.route}}</td>
    <td>{{offer.departureDate}}</td>
    <td>{{offer.arrivalDate}}</td>
    <td>{{offer.numberOfSeats}}</td>
    <td>{{offer.price}}</td>
  </tr>
  </tbody>
</table>
